@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter'

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;

}

.container_caixa {
    margin: 0 11em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    text-align: center;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 8px;
}

.container_aviso {
    font-size: 12px;
    text-align: center;
    color: var(--cinza-secundario)
}

.container_titulo {
    font-size: 29px;
    font-weight: 700;
}

.container_imagem {
    margin: 1em 0 2em 0;
}

.secundario_imagem {
    width: 90%;
}

.container_secundario {
    margin: 1em 0;
    width: 160px;
}

.img2 {
    width: 650px;
    margin: 0 10em;
}

.titulo_descricao {
    font-size: 48px;
    font-weight: 400;
    color: var(--branco-principal);
    margin-bottom: 1.2px;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao_texto {
    color: var(--cinza-secundario)
}

.secondario_botao {
    display: inline-block;
    margin: 1em;
}

.dispositivos {
    text-align: center;
}

.titulo_dispositivos {
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    font-size: 48px;
    Line-height:57.6px;
    color: var(--branco-principal);
}

.lista_dispositivo {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 5rem 0;
}

.lista_item {
    font-size: 32px;
    color: var(--branco-principal);
    font-family: "Inter";
    font-weight: 700;
    align-items: center;
    line-height: 38.4px;
}

.rodape {
    text-align: center;
    margin: 9em 0;
}

.lista_rodape {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 1rem 0;
    gap: 11px
}

.lista_link a {
    text-decoration: none;
    margin: 1em 0;
    color: var(--branco-principal);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}